body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    overflow: hidden; 
    /* Overflow Hidden es para que no aparezca la barra scroll al costado */
    background-image: url(./img/giphy\ ciudad\ 8\ bits.gif);
}

/* Animación Fondo
@keyframes example {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
  }

body:hover {
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
*/

/* For mobile phones: */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-direction especifica cómo van los objetos flexibles en el contenedor flexible definiendo el eje principal y la dirección */
}

.tareas_wrap {
    margin: 25px auto ;
    padding: 25px;
    width: 100%;
    max-width: 300px;
    height: 70%;
    background-color: darkblue ;
    border-radius: 10px;
    /* border radius es para hacer que sea una cajita con bordes redondeados */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}

#calendario{
    background-color: lightblue;
    opacity: .9;
    max-width: 400px;
    height: 50%;
    border-radius: 30px;
}

@media only screen and (max-width: 300px) {
    /* para que no se rompa */
    .container {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    /* Celu Vision */
    #calendario{
        display: none;
    }
}

@media only screen and (min-width: 700px) {
    /* Tablet Vision */
    .tareas_wrap{
        max-width: 400px;
    }
}

@media only screen and (min-width: 1000px) {
    /* Desktop Vision */
    .container{flex-direction: row;
        /* Esto es para que se vea una cosa al lado de la otra. */
    }
    .tareas_wrap{
        max-width: 500px;
    }
}


.fecha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}

.fechaIzquierda{
    display: flex;
    align-items: center;
}

#fechaNumero {
    font-size: 50px;
}

#fechaDiaSem {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#fechaMes,
#fechaNumero,
#dateText  {
    font-weight: bold;
}

#fechaMes,
#fechAno {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: white;
}

.contenedorTareas {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /* Overflow es cómo vás a scrolear, sobre qué eje, moverte */
}

/* ScrollBar width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* ScrollBar Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* ScrollBar Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgrey; 
    border-radius: 10px;
  }
  
  /* ScrollBar Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

.tarea_name {
    height: 50px;
    border-radius: 5px;
    position: relative;
}

.botonAdd,
.botonOrdenar {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.botonAdd {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
}

.botonAdd:hover {
    /* hover: "cuando le paso el mouse por arriba" */
    background-color: cyan;
}

.botonOrdenar {
    background-color: coral;
    border-radius: 10px;
    color: white;
}

.tarea {
    width: 95%;
    height: 40px;
    background-color: lightblue;
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    border-radius: 5px;
}

.tarea:hover {
    background-color: aqua;
    cursor: pointer;
}

#done {
    background-color: whitesmoke;
    text-decoration: line-through;
    color: black;
}

.borrar {
    position: absolute;
    right:10px;
    cursor:pointer;
    /* que se note que es clickeable */
}