*{border: 1px solid green}
/* Con el asterisco aplico una instrucción para TODO (normalizar) */
h1{
    color: grey;
    font-size: 50px
}

p{
    text-align: center;
}

body{   
    background-color: beige;
}

.ESPECIAL{
    color: brown;
    font-size: 100px
}

p{
    font-size: 20px;
    padding: 3em;
}

.tapa{text-align: center;
}

#agregar{position: fixed;
bottom: 1vw;
right: 2vw;
max-width: 10%;}