*{border: 1px solid black}
/* Con el asterisco aplico una instrucción para TODO (normalizar) */
h1{
    color: grey;
    font-size: 50px
}

body{
    background-color: beige;
}

.ESPECIAL{
    color: brown;
    font-size: 100px
}

#titular3{
    color: black;
}

.borde{
    border:1px solid black;
}

p{
    font-size: 20px;
    padding: 3em;
}

#pos_calltoaction{position: fixed;
bottom: 1 vw;
right: 1 vw}

.pos_navegación{position: sticky}

.padding