*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.containerReloj{
    text-align: center;
}

.containerReloj h1{
    font-size: 10rem;
    font-weight: 400;
}

.containerReloj p{
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}