*{background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
border: 1px solid green;}

.pos_fixed{
    position: fixed;
    bottom: 1vw;
    right: 2vw;
}

div.sticky{
    position: sticky;
    top: 0;
}

h1{color: aliceblue;
    background-color: blue}

#navegar{
    display: inline;
    margin: 30px 30px 30px 0px;
font-size: 30px;
color: blue;}

#calltoaction{
    display: none;
}

#tareas{font-size: 25px;
margin-bottom: 10px;}
