@media only screen and (max-width: 600px){
    body {
        background-color: lightblue;
      } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px){body {
    background-color: blue;
  }}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px){body {
    background-color: violet;
  }}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px){body {
    background-color: darkorchid;
  }}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px){body {
    background-color: darkmagenta;
  }}